*{margin: 0; text-decoration: none; border: none; box-sizing: border-box; list-style: none;font-family: 'Comfortaa', cursive;font-weight: 600;font-size: 1em;}
body{background-color: #ffeead;}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: #96ceb4;

    /*centralizando n meio da tela*/
    position: absolute;
    inset: 0;
    margin: auto;
}

.rounded-border{
    border-radius: 20px;
    box-shadow: #3e554a2a 2px 2px 2px 2px;
}
.title::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #ff6f69;
}
.title h1{
    color: #ff6f69;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 2.5rem;
    text-shadow: #80ad98 2px 2px;
}

.inputs div{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inputs div input{
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    text-align: center;
    color: #ff6f69;
    box-shadow: #3e554a2a 2px 2px;
}
.inputs div input:focus{
    outline: none;
    color: #ffcc5c;
    border-radius: 20px;
    transform: scale(105%);
    transition: transform 330ms ease-in-out;
    -webkit-transform: scale(105%);
    -webkit-transition: transform 330ms ease-in-out;
    -moz-transform: scale(105%);
    -moz-transition: transform 330ms ease-in-out;
    -ms-transform: scale(105%);
    -ms-transition: transform 330ms ease-in-out;
}
.inputs div label{
    color: #ff6f69;
    text-shadow: #80ad9859 1px 1px;
    cursor: pointer;
}

.calc{
    background-color: #ffcc5c;
    color: #ff6f69;
    box-shadow: #3e554a2a 2px 2px 2px 2px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

.calc:hover{
    cursor: pointer;
    outline: none;
    background-color: #fcd47e;
    transform: scale(105%);
    transition: transform 230ms ease-in-out;
    -webkit-transform: scale(105%);
    -webkit-transition: transform 230ms ease-in-out;
    -moz-transform: scale(105%);
    -moz-transition: transform 230ms ease-in-out;
    -ms-transform: scale(105%);
    -ms-transition: transform 230ms ease-in-out;
}
.result{
    background-color: #ffcc5c;
    box-shadow: #3e554a2a 2px 2px 2px 2px;
    border-radius: 20px;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.result p {
    color: #ff6f69;
    text-shadow: #80ad9859 1px 1px;
    text-align: center;
}
